body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#instrucciones {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

.stickers-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los stickers */
}

.sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 200px;
    height: 200px; /* Ajusta el tamaño de los stickers */
    margin-bottom: 10px;
}

input {
    width: 50px;
    text-align: center;
}

#calcular {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

